{% block home_footer %}
    <footer class="border-top">
        <p>Mon Footer &copy; 2024</p>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <!-- Leaflet script OPENSTREETMAP -->
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin="">
        </script>
        <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
        <script>
            // future call de la BDD pour récupérer les villes
            var villes = {
                "Bourg-en-Bresse": {"lat": 46.2052, "long": 5.2275, "description": "Ville charmante au cœur de la gastronomie française."},
                "Paris": {"lat": 48.8566, "long": 2.3522, "description": "La Ville Lumière, riche en histoire et culture."},
                "Marseille": {"lat": 43.2965, "long": 5.3698, "description": "Port méditerranéen animé, baigné de soleil."},
                "Lyon": {"lat": 45.7640, "long": 4.8357, "description": "Capitale de la gastronomie française."},
                "Toulouse": {"lat": 43.6047, "long": 1.4442, "description": "Ville rose, dynamique et festive."},
                "Nice": {"lat": 43.7102, "long": 7.2620, "description": "Promenade des Anglais et douceur de vivre."},
                "Nantes": {"lat": 47.2184, "long": -1.5536, "description": "Ville créative et historique sur la Loire."},
                "Bordeaux": {"lat": 44.8378, "long": -0.5792, "description": "Vignobles, architecture et art de vivre."},
                "Lille": {"lat": 50.6292, "long": 3.0573, "description": "Ville cosmopolite et festive du nord de la France."},
                "Tokyo": {"lat": 35.6895, "long": 139.6917, "description": "Métropole ultramoderne aux traditions anciennes."},
                "Rome": {"lat": 41.9028, "long": 12.4964, "description": "Ville éternelle avec un patrimoine exceptionnel."},
                "Toronto": {"lat": 43.6532, "long": -79.3832, "description": "Métropole multiculturelle au bord du lac Ontario."},
                "Sydney": {"lat": -33.8688, "long": 151.2093, "description": "Vibrante et ensoleillée, avec l'opéra emblématique."},
                "Cape Town": {"lat": -33.918861, "long": 18.423300, "description": "Vue imprenable sur la montagne de la Table et l'océan atlantique."}
            };

            var tableauMarqueurs = [];

            var map = L.map('maCarte').setView([46.2052, 5.2275], 5);

            // Ajout d'un fond de carte OpenStreetMap
            L.tileLayer('https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
                maxZoom: 20,
                minZoom: 1,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Tiles style by <a href="https://www.hotosm.org/" target="_blank">Humanitarian OpenStreetMap Team</a> <span> Par C.Louchard</span>'
            }).addTo(map);

            // Ajout d'un marqueur
            //var marqueurBg = L.marker([46.2052, 5.2275]).addTo(map);
            //marqueurBg.bindPopup("<b>Ici c'est l'ain!</b><br>Description popup Bourg en bresse.");

            // Ajout des villes
            function ajouterVille(villes, marqueurs) {

                // ajout Marqueur cluster
                var marqueurs = L.markerClusterGroup();

                // ajout d'un marqueur custom à venir ; Marqueur avec image de l'utilisateur qui l'a ajouté
                var customIcon = L.icon({
                    iconUrl: '../images/marker-icon.png',
                    iconSize: [30, 30],
                    inconAnchor: [25, 30],
                    popupAnchor: [0, -10]
                });

                for (ville in villes) {
                    var laVille = villes[ville];
                    var marqueur = L.marker([laVille.lat, laVille.long], { icon: customIcon });
                    // .addTo(map);
                    marqueur.bindPopup("<b>" + ville + "</b><br>"+ laVille.description+ " " + ville + "." +"</br> " +
                        "<img src='https://boulangerie.org/wp-content/uploads/baguette-viennoise-scaled.jpg' alt='photo de "+ville+"'>");
                    marqueurs.addLayer(marqueur); // ajout du marqueur au groupe

                    // on ajoute le marqueur au tableau
                    tableauMarqueurs.push(marqueur);
                }
                // on regroupe les marqueurs dans un groupe leaflet
                var groupe = new L.featureGroup(tableauMarqueurs);

                // on centre la carte sur le groupe de marqueurs
                map.fitBounds(groupe.getBounds());

                map.addLayer(marqueurs); // ajout du groupe de marqueurs à la carte
            }
            ajouterVille(villes);
            function onMapClick(e) {
                alert("Ajoutez un point");
            }

            map.on('click', onMapClick);
        </script>
    </footer>
{% endblock %}