{% block home_header %}
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light col-md-4" href="{{ path('home') }}">Bienvenue sur Harri's Map</a>
            <a class="navbar-brand text-light" href="{{ path('home') }}">Accueil</a>
            <a class="navbar-brand text-light" href="{{ path('home') }}">Les voyages</a>
            <a class="navbar-brand text-light" href="{{ path('home') }}">FAQ</a>
        </div>
    </nav>
{% endblock %}
